html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.padding-nav{
    padding: 15px 20px;
    background-color: #020617;
}

.padding-1{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #020617;
}

.padding-2{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #111827;
}

.flex-space-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    font-size: 10px;    
    margin-left: 5px;
    text-transform: uppercase;
}

nav a:hover{
    background-color: #979da833;
    border-bottom: 1px solid white ;
}

.logo img{
    height: 50px;
    width: 50px;
}

.person p{
    color: #EAB308;
    font-size: 16px;
    margin-bottom: 15px;
}

.person h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
    /* margin-top: 25px;
    margin-bottom: 25px; */
}

.deskripsi{
    color: #6B7280;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 25px;
    width: 450px ;
    line-height: 25px;
}


.button {
    text-decoration: none;
    color: black;
    background-color: #EAB308;
    border: 1px solid #EAB308;
    padding: 15px 40px;
    border-radius: 10px;
}

.button:hover{
    background-color: transparent;
    border: 2px solid #EAB308;
    color: white;
}

.img-profile img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.img-about img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
} 


